#irakli{
    font-family: 'Rubik Glitch Pop', system-ui;
    text-align: center;
}

#irakli2{
    font-family: 'Rubik Glitch Pop', system-ui;
    text-align: center;
}


#irakli3{
    font-family: 'Honk', system-ui;
    text-align: center;
}

#irakli4{
    font-family: 'Honk', system-ui;
    text-align: center;
}

#image{
    height: 100px;
    width: 100px;
    text-align: center;
}
